@import "../../global.scss";

.lopta {
  border-radius: 50%;
  box-shadow: inset 8px -4px 16px 5px #000000a8, 7px 9px 30px 5px #00000080;
  overflow: hidden;
  animation: rotate 40s linear infinite;
  &.bela {
    background: #b3afb2;
  }
  &.crvena {
    background: $crvena;
  }
  &.transparentna {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4px);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 2.7rem;
    border-radius: 50%;
    background: rgb(255 255 255 / 45%);
    box-shadow: 0 4px 22px 14px rgb(255 255 255 / 47%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-100%) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-100%) rotate(-360deg);
  }
}
