@import "../../global.scss";

.dashboard-page {
    @include box-center($justify: flex-start);
    height: 100vh;
    position: relative;
    overflow-y: hidden;

    .content {
        width: 100%;
    }
}
