@import "../../global.scss";

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: fit-content;
  min-width: 17rem;
  background: #0f0f0f;
  z-index: 5000;
  &.closed {
    min-width: initial !important;
  }
  .hamburger {
    @include box-center($justify: center);
  }
  .app-details {
    @include box-center($justify: flex-start);
    padding: 0.3rem 0.7rem 0.3rem 0.9rem;
    width: 100%;
    height: 3.5rem;
    .app-name {
      font-size: 1.9rem;
      color: #fff;
      transition: 0.3s ease;
      transition-delay: 0.1s;
      padding-left: 0.5rem;
      font-weight: 600;
    }
  }

  .nav-links {
    li {
      height: 2.8rem;
      position: relative;
      padding: 0.5rem;
      padding-right: 0.8rem;
      margin: 0.2rem 0 0.2rem 0.5rem;
      cursor: pointer;
      @include box-center($justify: flex-start);
      .link-name {
        font-size: 1.35rem;
        padding-left: 0.5rem;
      }
      &.active {
        background: $red;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        .square {
          width: 1rem;
          height: 1rem;
          background: $red;
          position: absolute;
          right: 0;
        }
        .square::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background: #0f0f0f;
          width: 1rem;
          height: 1rem;
        }
        .square-1::after {
          border-bottom-right-radius: 0.5rem;
        }
        .square-2::after {
          border-top-right-radius: 0.5rem;
        }
        .square-1 {
          top: -1rem;
        }
        .square-2 {
          bottom: -1rem;
        }
      }
    }
  }
  .profile-details {
    .profile-more-details {
      width: 15rem;
      border-radius: 2rem;
      background: $red;
      color: #fff;
      @include box-center($direction: column);
      align-items: flex-start;
      gap: 1rem;
      padding: 0.8rem 1rem;
      position: absolute;
      bottom: 4rem;
      button {
        background: #fff;
        border-radius: 2rem;
        padding: 0.4rem 1.9rem;
        color: $red;
        outline: none;
        border: none;
        box-shadow: 2px 2px 9px #000000cc;
      }
    }
    @include box-center($justify: flex-start);
    background: $white;
    padding: 0.8rem 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    .profile-content {
      display: flex;
      align-items: center;
    }
    .profile-name {
      color: $red;
      font-size: 1.3rem;
      font-weight: 500;
    }
    .job {
      color: $red;
      font-size: 1.3rem;
      font-weight: 500;
      padding-left: 0.5rem;
      text-transform: capitalize;
    }
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    position: absolute;
    &.closed {
      width: fit-content !important;
      position: relative;
    }
  }
}
